<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <!--%= attachment_image_tag モデル名, :カラム名(末尾の_idは除く),format: '拡張子名(例: jpeg)', :fill, 横幅の数値(例: 100), 高さの数値 % -->
        <%= attachment_image_tag @user, :profile_image, :fill, 63, 63, format: 'jpeg', fallback: "no_image.jpg"  %>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th>
                <% if nil.blank? %>
                  <%= current_user.name %>
                <% else %>
                  <%= @user.name %>
                <% end %>
                </th>
            </tr>
            <tr>
              <th>introduction</th>
              <th>
                <% if nil.blank? %>
                <%= current_user.introduction %>
                <% else %>
                  <%= @user.introduction %>
                <% end %>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <%= link_to "", edit_user_path(:id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
        </div>

        <!--下記BOOK新規投稿欄-->

        <h2 class="mt-3">New book</h2>
        <%= form_with model: @book, url: new_user_book_path(:id), local: true do |f| %>

          <div class="form-group">
            <%= f.label :Title %><br />
            <%= f.text_field :book_title, autofocus: true, class: "form-control book_title" %>
          </div>

          <div class="form-group">
            <%= f.label :Opinion %><br />
            <%= f.text_area :book_body, class: "form-control book_body" %>
          </div>

          <div class="form-group">
            <%= f.submit "Create Book", class: "btn btn-success" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</main>